.container{
padding-left: 100px;
padding-right: 50px;
}

.row{
padding: 10px;

}
.jumbotron{
    background-color: rgb(14, 232, 248);
}
body{
    background-image: url(../images/12.jpg);
    background-size: cover;
}